/* Reset default margin/padding aur basic setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy", -apple-system;
}

/* Page ko center align aur background gradient */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Pure screen ki height */
  background-color: #2c2c2c;
}

/* Container width set */
.container {
  width: 90%; /* small devices ke liye responsive */
  max-width: 400px; /* maximum form width */
}

/* Form styling */
form {
  background-image: url(https://images.unsplash.com/vector-1752217167868-40771826f10f?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxpbGx1c3RyYXRpb25zLWZlZWR8NDA2fHx8ZW58MHx8fHx8);
  object-fit: cover;
  padding: 20px;
  border-radius: 12px; /* rounded corners */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* shadow for depth */
  transition: transform 0.25s ease, box-shadow 0.25s ease, background 0.3s ease;
}


form:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 40px rgba(0, 0, 0, 0.45);
}

/* Heading styling */
h2 {
  text-align: center;
  margin-bottom: 15px;
  color: #ffffff;
}

/* Labels ko bold aur readable banaya */
label {
  display: block;
  font-weight: bold;
  color: #d7d7d7;
  margin-top: 0.2rem;
}

/* Text aur password inputs */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 2px solid #ccc;
  border-radius: 8px;
  transition: border 0.3s, box-shadow 0.3s; /* smooth hover/focus effect */
}

/* Focus effect jab input select hota hai */
input:focus {
  border-bottom: 2px solid #121414;
  outline: none;
}

/* Error messages */
.error {
  color: rgba(192, 16, 16, 0.942);
  font-size: 0.85rem;
  margin-top: 4px;
  font-weight: 500;
}

/* Submit button styling */
#btn {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  background: #000000;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s, transform 0.2s, hover ease 0.25s;
}

/* Button hover effect */
#btn:hover {
  background: #d7d7d7;
  transform: translateY(-2px);
  color: #000000;
}
.result {
  margin-top: 10px;
  text-align: center;
  color: #e4e4e4;
  font-size: 0.96rem;
  font-weight:600;
}

